.App {
  background-image: url("./assets/background/background.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.WeekBoard {
  background-image: url("./assets/background/background.jpg");
  font-family: 'Open Sans', sans-serif;
}

.HourlyBoard {
  background-image: url("./assets/background/bg4.jpeg");
  font-family: 'Open Sans', sans-serif;
}

.card {
  widows: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: gray;
}

img {
  border-radius: 5px 5px 0 0;
}

.topClass {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.dailyDataCard {
  min-height: 275px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  margin: 10px 0px;
  padding: 10px 0px;
  background-color: lightgray;
  pointer-events:none
}


.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  text-align: center;
  margin:10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}